/* Common styles */
body {
    font-family: 'Bree Serif', serif;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    background-color: #161616;
    width: 1100px;
    border-radius: 30px;
    margin-bottom: 5%;
    animation: sliding 7s ease-in-out .5s infinite alternate;
}

/* Top section style  */
@keyframes sliding {
    0% {
        background-color: black;
    }

    100% {
        background-color: dimgray;
    }
}

.top-title {
    font-family: 'Lobster', cursive;
    font-size: 45px;
    margin: 0;
}

.show {
    color: crimson;
}

.half-width {
    width: 50%;
}

.top-banner {
    color: whitesmoke;
    padding: 80px;
    margin-top: 0px;
}

.watch-live {
    text-decoration: none;
    background-image: linear-gradient(#eb3349, #f45c43);
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
}

.watch-live:hover {
    color: black;
}

i {
    margin-left: 10px;
}

.banner-image {
    padding: 33px;
    padding-bottom: 0px;
    height: 425px;
}

/* Blog section style  */

.blog-container {
    display: flex;
    width: 1100px;
}

.match-details {
    width: 312px;
    height: 300px;
    background-color: #161616;
    border-radius: 10px;
    padding-top: 22px;
}

.about-match {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-decoration: none;
    background-color: white;
    color: black;
    width: 220px;
    height: 34px;
    padding: 15px;
    border-radius: 10px;
    margin: 30px;
    margin-top: 5%;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.active,
.about-match:hover {
    background-color: crimson;
}


/* Design for upcoming match */

.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;
    row-gap: 15px;
    column-gap: 15px;
    padding-bottom: 2%;
}

.flag-container {
    border-radius: 11px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20%;
    padding-left: 5%;
    padding-right: 5%;
}

.flag-image-details {
    display: flex;

}

.flag-images {
    width: 110px;
    height: 56.18px;
}

h3 {
    margin: 10px;
}

.vs {
    text-align: center;
    margin-top: 30px;
}

.schedule {
    text-align: center;
}

/* Style for footer  */
footer {
    margin-top: 90px;
    text-align: center;
    background-color: #161616;
    color: white;
    padding-top: 4%;
    padding-bottom: 8%;
}

.footer {
    font-family: 'Lobster', cursive;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 80%;
    margin-top: 4%;
    margin-bottom: 4%;

}

.links a {
    text-decoration: none;
    color: white;
    margin: 3%;
}

.links a:hover {
    color: aqua;
}

.social-media {
    margin-top: 5%;
}

.fa-brands {
    font-size: 25px;
    padding: 10px;
    color: whitesmoke;
}

/* Media Query for Tablet View  */

@media only screen and (min-width:481px) and (max-width:768px) {
    .container {
        width: 100%;
    }

    .banner-image {
        width: 80%;
        height: 385px;
    }

    .blog-container {
        width: 100%;
    }

    .image-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

}