/* Common styles */
body {
    font-family: 'Bree Serif', serif;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    background-color: #161616;
    width: 1100px;
    border-radius: 30px;
    margin-bottom: 5%;
}

/* Top section style  */
.top-title {
    font-family: 'Lobster', cursive;
    font-size: 45px;
    margin: 0;
}

span {
    color: crimson;
}

.half-width {
    width: 50%;
}

.top-banner {
    color: whitesmoke;
    padding: 80px;
    margin-top: 0px;
    /* padding-bottom: 100px; */
}

.watch-live {
    text-decoration: none;
    background-image: linear-gradient(#eb3349, #f45c43);
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
}

i {
    margin-left: 10px;
}

.banner-image {
    padding: 33px;
    padding-bottom: 0px;
    height: 425px;
}

/* Blog section style  */

.blog-container {
    display: flex;
    justify-content: space-between;
    width: 1100px;
}

.match-details {
    width: 312px;
    height: 300px;
    background-color: #161616;
    border-radius: 10px;
    padding-top: 22px;
}

.about-match {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-decoration: none;
    background-color: white;
    color: black;
    width: 220px;
    height: 34px;
    padding: 15px;
    border-radius: 10px;
    margin: 30px;
    margin-top: 5%;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.active,
.about-match:hover {
    background-color: crimson;
}